@model Platforms

@{
    ViewData["Title"] = "Add new Platform";
}

<style>
    .profile-picture {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #ddd;
    }

</style>
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Platform</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="PlatformLogoPreview" class="profile-picture" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PlatformLogo" class="control-label"></label>
                        <input asp-for="PlatformLogo" class="form-control" />
                        <span asp-validation-for="PlatformLogo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlatformName" class="control-label"></label>
                        <input asp-for="PlatformName" class="form-control" />
                        <span asp-validation-for="PlatformName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('PlatformLogoPreview');
            output.src = $("#PlatformLogo").val();
        })

        $("#PlatformLogo").on("change", function () {
            var output = document.getElementById('PlatformLogoPreview');
            output.src = $(this).val();
        })
    </script>
}
